# This script requires the repository to be cloned into /usr/bin/scripts/Oscie-Bot-3
[Unit]
Description=Oscie Bot 3
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
WorkingDirectory=/usr/bin/scripts/Oscie-Bot-3
ExecStart=/usr/bin/env pipenv run python /usr/bin/scripts/Oscie-Bot-3/bot.py