<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oscie Bot 3</title>
    <script src="/static/infiniteload.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
</head>
<body>
    <main class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="display-4 mb-3">Miis</h1>
                    <div id="scroller" class="mb-3">
                        <template id="mii_template">
                            <div class="card mb-3 animated fadeIn">
                                <div class="card-body">
                                    <h4 class="card-title" id="username"></h4> <!-- Username and Discriminator go here -->
                                    <img class="card-img-top" id="mii"/>
                                </div>
                            </div>
                        </template>
                    <div class="d-flex justify-content-center mb-3" id="itstheend">
                        <div class="spinner-border" role="status"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>